@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --text: #177294;
        --text-primary: #bdf5d9;
        --background: #fcfcfc;
        --primary: #68405e;
        --secondary: #ced4b7;
        --accent: #e36545;
    }

    .dark {
        --text: #b9dee9;
        --text-primary: #562c74;
        --background: #252522;
        --primary: #8ce4dc;
        --secondary: #dae8ed;
        --accent: #eecc42;
    }
}