@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --text: #0a0f0b;
        --background: #f8fcf9;
        --primary: #56ae65;
        --secondary: #a4daad;
        --accent: #72cf82;
    }

    .dark {
        --text: #f0f5f1;
        --background: #030704;
        --primary: #51a960;
        --secondary: #255b2e;
        --accent: #308d40;
    }
}